@use '../../../../partials/breakpoints';
@import '../../../../partials/mixins';
@import '../../../../partials/variables';
@import '../../../../partials/typography';

.bg {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.delete-container {
  @include delete-styles;
}

//media queries
@include breakpoints.mq(tablet) {

  .delete-container {
    width: pxToRem(400);
  }
}
