@use '../../../partials/breakpoints';
@import '../../../partials/mixins';
@import '../../../partials/variables';
@import '../../../partials/typography';

.details-container {
  @include flex-container(flex, center, null);
  @include flex-box(column, 1rem, 1.25rem);
  line-height: $line-height;
  color: $gray;

  .back {
    cursor: pointer;
  }

  h2 {
    color: $purple;
    font-style: italic;
  }

  h4 {
    text-align: left;
  }

  .details {

    .details-actions {
      @include flex-container(flex, end, center);
      gap: 1.5rem;
      padding: .5rem 1rem;

      button {
        outline: none;
        border: 1px solid transparent;
        background-color: transparent;
        color: $purple;
        cursor: pointer;
        font-size: 1rem;
      }

    }
  }

  .comments-container {
    @include flex-column(.5rem);
    background-color: $dark-gray;
    padding: .5rem;
    border-radius: 8px;

    .comment-actions {
      @include flex-container(flex, space-between, center);

      i {
        color: $purple;
      }

      .comment-btn {
        display: flex;
        gap: 1rem;

        button {
          outline: none;
          border: 1px solid transparent;
          background-color: transparent;
          color: $purple;
          cursor: pointer;
          font-size: 1rem;
        }
      }
    }
  }
}

//media queries
@include breakpoints.mq(tablet) {

  .details-container {
    max-width: 660px;
    width: 100%;
    margin: 2rem auto;
  }
}
