@if (isLoading) {
  <div id="spinner">
    <div class="spinner"></div>
  </div>
}
@else {
  <div class="details-container" *ngIf="post$ | async as post">
    <h2>{{post.title}}</h2>
    <div class="details">
      <h3>{{post.content}}</h3>

      <div class="details-actions">
        <button (click)="displayForm()">Edit <i class="fa-solid fa-pen"></i></button>
        <button (click)="displayModal()">Delete <i class="fa-solid fa-trash-can"></i></button>
      </div>
    </div>

    <h4>Comments</h4>
    <div class="comments-container" *ngIf="comments$ | async as comments">
    @if (comments.length === 0) {
      <p>No comments</p>
    }

    @for (comment of comments; track $index) {
      <div class="comments-container">
        <p>&#64;{{comment.author | titlecase}}</p>
        <p>{{comment.content}}</p>

        <div class="comment-actions">
                <span>
                    <i class="fa-regular fa-comment-dots"></i>
                    0
                </span>

          <div class="comment-btns">
            <button (click)="displayCommentForm(comment.id)">Edit <i class="fa-solid fa-pen"></i></button>
            <button (click)="displayCommentDelete(comment.id)">Delete <i class="fa-solid fa-trash-can"></i></button>
          </div>
        </div>
      </div>
    }
  </div>

  </div>
}
@if (showForm) {
  <app-create-edit-post *ngIf="post$ | async as post" [post]="post"/>
}

@if (showDelete) {
  <app-delete (hideEvent)="hideDeletePost()"/>
}

@if (showCommentForm) {
  <app-create-edit-comment *ngIf="comment$ | async as comment" [comment]="comment" (hideEvent)="hideCommentForm()"/>
}

@if (showCommentDelete) {
  <app-delete-comment [commentId]="commentId" (hideEvent)="hideDeleteComment()"/>
}
