@import '../../../partials/mixins';
@import '../../../partials/variables';

.list-container {
  @include flex-column(1rem);
  justify-content: center;
  color: $gray;

  .post {
    background-color: $dark-gray;
    @include padding-radius(1rem, 8px);
    color: $gray;
    width: 100%;

    .post-info {
      @include flex-column(1rem);

      .user-details {
        @include flex-row(flex, start, center);
        gap: 1rem;

        .avatar {
          @include avatar(pxToRem(48), 50%);
          @include flex-row(flex, center, center);

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 50%;
          }
        }
      }

      .post-actions {
        @include flex-container(flex, space-between, center);

        i {
          color: $purple;
        }
      }

      .post-actions {
        //display: flex;
      }
    }
  }
}
