<div class="list-container" *ngIf="posts$ | async as posts">
<!--  display error message-->
  @if (errorMessage) {
    <p class="error-msg">{{ errorMessage }}</p>
  }

<!--  show loading indicator-->
  @if (isLoading){
    <div id="spinner">
      <div class="spinner"></div>
    </div>
  }

<!--  display list of posts-->
  <h3>Trends</h3>
  @for (post of posts; track $index) {
    <div class="post">
      <!-- post info -->
      <div class="post-info">
        <div class="user-details" (click)="viewPost(post.id)">
          @if (user) {
          <div class="avatar">
            <img src="{{user?.profileImg}}" alt="profile image of user">
          </div>

          }

          <div>
            <p>&#64;{{post.authorName}}</p>
            <p>{{post.title}}</p>
            <p>{{post.content}}</p>
          </div>
        </div>

<!--        post actions-->
      <div class="post-actions">
            <span title="Comment">
                <i class="fa-regular fa-comment-dots"></i>
                {{post.commentsCount}}
            </span>

             <span title="Like Post">
                <i class="fa-regular fa-heart"></i>
                0
            </span>

            <span (click)="displayCommentForm(post.id)" title="Add Comment">
                <i class="fa fa-plus-square" aria-hidden="true"></i>
            </span>
      </div>
      </div>


    </div>
  }
</div>

<!--display add comment form-->
@if (showCommentForm) {
  <app-create-edit-comment (hideEvent)="hideCommentForm()" [postIdFromList]="currentPostId"/>
}
