@use '../../../../partials/breakpoints';
@import '../../../../partials/mixins';
@import '../../../../partials/variables';
@import '../../../../partials/typography';

.bg {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}
.form-container {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  background-color: $dark-gray;
  @include padding-radius(1rem, 8px);
  @include flex-column(1rem);
  width: pxToRem(327);

  h3 {
    color: $white;
    @extend .heading-l;
    font-weight: 300;
  }

  form {
    .form-item {

      input {
        caret-color: $greyish-blue;
        width: 100%;
        border: none;
        outline: none;
        background-color: inherit;
        color: $white;
        border-bottom: 1px solid $greyish-blue;
        padding: .5rem 0;
        margin-bottom: .5rem;
      }

      textarea {
        background-color: $dark-gray;
        width: 100%;
        resize: none;
        border: 1px solid transparent;
        border-radius: 8px;
        outline: none;
        color: $gray;

        &:hover {
          border: 1px solid $purple;
        }
      }

      small {
        position: absolute;
        right: 5%;
        @include flex-row(flex, center, center);
        color: $red;
        margin-top: -1.5rem;
      }

      .warning {
        color: $purple;
      }
    }

    .form-actions {
      @include flex-container(flex, end, center);
      gap: 1rem;
      margin-top: .5rem;

      button {
        padding: .5rem 1rem;
        border-radius: 4px;
        outline: none;
        border: none;
        color: $gray;
      }

      .save-btn {
        background-color: $purple;

        &:hover {
          background-color: green;
        }

        &:disabled {
          background-color: $disabled-color;
          color: $dark;
          cursor: not-allowed;
        }
      }

      .discard-btn {
        background-color: $red;
      }
    }
  }
}

//media queries
@include breakpoints.mq(tablet) {

  .form-container-container {
     width: pxToRem(400);
  }
}
