<div class="form-container">
  <h3> {{ post ? 'Edit Post' : 'Add Post' }}</h3>

  @if (errorMessage) {
    <p class="error-message">{{ errorMessage }}</p>
  }

  <form [formGroup]="postForm" (ngSubmit)="post ? onUpdate() : onSend()">
    <div class="form-item">
      <input type="text" id="title" name="title" placeholder="Title of post" formControlName="title">
    </div>

    <div class="form-item">
      <textarea name="content" id="content" cols="30" rows="10" formControlName="content" placeholder="Write your post here"></textarea>
    </div>

    <div class="form-actions">
      <button type="submit" (click)="discard()">discard</button>

        <button type="submit" [disabled]="postForm.invalid">{{post ? 'Save' : 'Send'}}</button>

    </div>
  </form>
</div>
