/* You can add global styles to this file, and also import other style files */
// import fonts
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import './variables';

*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  display: block;
}

#spinner {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 999;
}

.spinner {
  border: 4px solid #f8efd4;
  border-top: 4px solid $blue;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 2s linear infinite; 
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


@keyframes spin {
  0% {
      transform: rotate(0deg);
  }

  100% {
      transform: rotate(360deg);
  }
}


// error handling
.error-message {
  color: red;
  font-style: italic;
  text-align: center;
  margin: 17rem auto;
}

body {
  font-family: 'Nunito', sans-serif;
  background-color: $dark;
  color: $white;
}

