<div class="bg"></div>
<div class="form-container">
  <h3> {{ comment ? 'Edit Comment' : 'Add Comment' }}</h3>
  @if (errorMessage) {
    <p class="error-message">{{ errorMessage }}</p>
  }

  @if (isLoading) {
    <div id="spinner">
      <div class="spinner"></div>
    </div>
  }

  <form [formGroup]="commentForm" (ngSubmit)="comment? onEdit() : onSend()">

    <div class="form-item">
      <textarea name="content" id="content" cols="30" rows="10" placeholder="Write your comment here..." formControlName="content"></textarea>
      @if (commentForm.get('content')?.invalid && (commentForm.get('content')?.touched || commentForm.get('content')?.dirty)) {
        @if (commentForm.get('content')?.errors?.['required']) {
          <small class="error">Content is required</small>
        }
      }
    </div>

    <div class="form-actions">
      <button type="submit" (click)="discard()" class="discard-btn">Discard</button>
      <button type="submit" class="save-btn">{{comment ? 'Save' : 'Send'}}</button>
    </div>
  </form>
</div>
